/* Navigation Bar Work */

header {
	position: fixed;
	z-index: 1;
	top: 0;
	width: 100%;
}

.nav {
	background: #0b3c5d;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1;
}

header::after {
	content: '';
	display: table;
	clear: both;
}

.logo {
	float: left;
	width: 128px;
	padding-top: 0;
	padding-bottom: 0;	
	margin-top: 0;
	margin-bottom: 0;	
}

.nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav ul li {
	display: inline-block;
    padding-top: 1.7%;
	margin-left: 35px;
	margin-right: 35px;
	position: relative;
	float: left;
}


.nav ul li a {
	color: #FFD700;
	font-family: "Times New Roman", Times, serif;
	font-size: 130%;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.nav ul li a:hover {
	color: #ffffff;
}

.nav ul li a::before {
	content: '';
	display: block;
	height: 5px;
	background-color: #FFD700;
	position: absolute;
	top: 0;
	width: 0%;
	transition: all ease-in-out 250ms;
}

.nav ul li a:hover::before {
	width: 100%;
}

.nav .active {
	color: #bab5b5;
}

.checkbtn {
	font-size: 30px;
	color: #fff;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#check {
	display: none;
}

@media (max-width: 1033px) {
	.checkbtn {
		display: block;
	}
	.fas.fa-bars {
		color: #FFD700;
	}
	.fas.fa-bars:hover {
		color: rgb(255, 255, 255);
	}
	.nav ul {
		position: fixed;
		width: 100%;
		background-color: #0b3c5d;
		top: 80px;
		left: 100%;
		text-align: center;
		transition: all .5s;
	}
	.nav ul li {
		display: contents;
		line-height: 30px;
	}
	.nav ul li a::before {
		background: none;
		transition: none;
	}
	#check:checked ~ ul {
		left: 0;
	}
}

.progressContainer {
	width: 100%;
	margin-top: 78px;
	height: 8px;
	background-color: transparent;
}
  
.progressBar {
	height: 8px;
	background-color: #f07d3a;
	width: 0%;
}


/* Notes Page Work */

body {
	margin: 0;
	background-color: #eae3e3;
	font-family: "Times New Roman", Times, serif;
	font-weight: 400;
}

.mainBox {
	width: 70%;
	min-width: 1000px;
	min-height: 2000px;
	margin: auto;
	margin-top: 125px;
	background-color: #fff;
	border-radius: 10px;
	border: 1px solid grey;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: 15%;
  }
  
td {
	text-align: center;
}  

body > hr {
	margin-top: 2%;
	width: 70%;
	min-width: 1000px;
}