body {
	margin: 0;
	background-color: #eeebeb;
	font-family: "Times New Roman", Times, serif;
	font-weight: 400;
}


.topMenu {
	width: 80%;
	margin: 0 auto;
}

header {
	background-color: #0b3c5d;
}

header::after {
	content: '';
	display: table;
	clear: both;
}


.logo {
	float: left;
}

.menuItems {
	float: right;	
}

.menuItems ul {
	margin: 0;
}
