body {
	background:#999;
	font-family: arial:
}

h1, a{
	color:red;
}

p{
	background:#666;
	color:white;
	padding:0px 0px 0px 0px;
}

.secondary{
	background:none;
	color:green;
}


.container img {
    width: 100px;
    height: 60px;
}
