body {
	background-color: #eeebeb;
	font-family: "Times New Roman", Times, serif;
	font-weight: 400;
}


.topMenu {
	background-color: #0b3c5d;
}


.item {
	white-space: normal;
	padding: 10px 15px 9px 15px;
	text-align: center;
	letter-spacing: 1px;
	background-color: transparant;
	color: #FFFF00;
}
