body {
	background-color: #eeebeb;
	font-family: arial;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.7;
	color: #000;
	letter-spacing: 0.1rem;
}


.topMenu {
	background-color: #0b3c5d;
}


.item {
	text-align: center;
	color: yellow;
}
