/* Navigation Bar Work */

header {
	position: fixed;
	z-index: 1;
	top: 0;
	width: 100%;
}

.nav {
	background: #0b3c5d;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1;
}

header::after {
	content: '';
	display: table;
	clear: both;
}

.logo {
	float: left;
	width: 128px;
	padding-top: 0;
	padding-bottom: 0;	
	margin-top: 0;
	margin-bottom: 0;	
}

.nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav ul li {
	display: inline-block;
    padding-top: 1.7%;
	margin-left: 35px;
	margin-right: 35px;
	position: relative;
	float: left;
}

.nav ul li a {
	color: #FFD700;
	font-family: "Times New Roman", Times, serif;
	font-size: 130%;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.nav ul li a:hover {
	color: #ffffff;
}

.nav ul li a::before {
	content: '';
	display: block;
	height: 5px;
	background-color: #FFD700;
	position: absolute;
	top: 0;
	width: 0%;
	transition: all ease-in-out 250ms;
}

.nav ul li a:hover::before {
	width: 100%;
}

.nav .active {
	color: #bab5b5;
}

.checkbtn {
	font-size: 30px;
	color: #fff;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#check {
	display: none;
}

@media (max-width: 1033px) {
	.checkbtn {
		display: block;
	}
	.fas.fa-bars {
		color: #FFD700;
	}
	.fas.fa-bars:hover {
		color: rgb(255, 255, 255);
	}
	.nav ul {
		position: fixed;
		width: 100%;
		background-color: #0b3c5d;
		top: 80px;
		left: 100%;
		text-align: center;
		transition: all .5s;
	}
	.nav ul li {
		display: contents;
		line-height: 30px;
	}
	.nav ul li a::before {
		background: none;
		transition: none;
	}
	#check:checked ~ ul {
		left: 0;
	}
}

.progressContainer {
	width: 100%;
	margin-top: 78px;
	height: 8px;
	background-color: transparent;
}
  
.progressBar {
	height: 8px;
	background-color: #f07d3a;
	width: 0%;
}


/* Project Navigation Work */

.projectNavigation {
	width: 10%;
	background:white;
	box-shadow:2px 2px 2px 2px black ;
	float: left;
	position: fixed;
}

.head h1 {
	padding: 5px 20px;
	margin: 10px;
	margin-bottom:1px;
	color:black;
	font-weight: 1000;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	overflow: hidden;
}

.head {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.projectNavigation ul li {
	padding: 10px;
	margin-left:15px;
	display: grid;
	grid-template-columns: 8fr 1fr;
	font-size: 14px;
	cursor: pointer;
	font-family: 'Shadows Into Light', cursive;
}

.projectNavigation ul {
	padding-left:10px;
	margin-right:5px;
	overflow: hidden;
}

.projectNavigation ul li:hover {
	border-radius: 15px;
	background:rgb(152, 152, 152);
	color:white;
}
  
.projectNavigation ul li i {
	font-size: 20px;
	font-weight: bold;
}

.projectNavigation a {
	text-decoration: none;
	color: #000;
}

.head hr {
	width: 20%;
	margin-left:32px;
	border: 1px solid #0B5AA2;
}



/* Projects Page Work */

html {
	scroll-padding-top: 120px;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: "Times New Roman", Times, serif;
	font-weight: 400;
	background-image: url(Images/ProjectImages/background.jpg);
	background-attachment: fixed;
}

.allProjects {
	max-width: 75%;
	margin: auto;
    margin-top: 100px;
	background-color: #eae3e3;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 15px;
}


/* Project 1 Work */

.project1 {
	max-width: 95%;
	margin: auto;
	padding-top: 40px;
	background-color: #eae3e3;
}

.project1 .project1Content {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: center;
}

.project1 .project1ContentDescription {
	flex-grow: 1;
	padding: 15px;
	width: 50%;
}

.project1 h1 {
	text-align: center;
	margin: 0
}

.project1 a {
	font-weight: bold;
	font-style: italic;
	text-decoration: none;
	color: #000;
	background-color: #f2b242;
}

.project1 a:hover {
	color: black ;
	background-color: rgb(255, 153, 0) ;
	text-decoration: underline;
} 

.project1 .project1Content p {
	font-family:'Times New Roman', Times, serif;
	font-size: large;
	line-height: 1.5em;
	margin-top: 30px;
}

.project1 .horizontalScroll{
	display: flex;
	align-items: center;
	justify-content: center;
}

.project1 .container {
	position: relative;
	width: 70%;
	height: 700px;
}

.project1 .container::before {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	z-index: 99;
	height: 100%;
	width: 150px;
}

.project1 .container::after {
	position: absolute;
	content: "";
	right: 0;
	top: 0;
	z-index: 99;
	height: 100%;
	width: 150px;
}

.project1 .scrollImages {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: left;
	align-items: center;
	position: relative;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

.project1 .child {
	min-width: 100%;
	height: 700px;
	margin: 1px 10px;
	cursor: pointer;
	border: 1px solid rgba(207, 201, 201, .3);
	overflow: hidden;
}

.project1 .scrollImages::-webkit-scrollbar {
	-webkit-appearance: none;
}

.project1 .childImg {
	width: 100%;
	height: 700px;
}

.project1 .icon {
	color: #0b3c5d;
	background-color: #eae3e3;
	font-size: 50px;
	width: 10%;
	outline: none;
	border: none;
	cursor: pointer;
	margin: 0;
}

.project1 .icon:hover {
	color: #6e5d00;
}

.project1 .verticalLine {
	border-left: thin solid #000000;
	margin-top: 100px;
    margin-bottom: 60px;
    margin-left: 20px;
}

.project1 hr {
	border: none;
	border-top: 4px dotted black;
}


/* Project 2 Work */

.project2 {
	max-width: 95%;
	margin: auto;
	padding-top: 40px;
	background-color: #eae3e3;
}

.project2 .project2Content {
	padding: 15px;
}

.project2 h1 {
	text-align: center;
}

.project2 a {
	font-weight: bold;
	font-style: italic;
	text-decoration: none;
	color: #000;
	background-color: #f2b242;
}

.project2 a:hover {
	color: black ;
	background-color: rgb(255, 153, 0) ;
	text-decoration: underline;
}

.project2 .project2Content p {
	font-family:'Times New Roman', Times, serif;
	font-size: large;
	line-height: 1.5em;
	margin-top: 30px;
}

.project2 object {
	width: 100%;
	height: 800px;
	border: 2px solid black;
}

.project2 hr {
	border: none;
	border-top: 4px dotted black;
}


/* Project 3 Work */

.project3 {
	max-width: 95%;
	margin: auto;
	padding-top: 40px;
	background-color: #eae3e3;
}

.project3 .project3Content {
	padding: 15px;
}

.project3 .project3ContentDescription {
	width: 100%;
}

.project3 h1 {
	text-align: center;
}

.project3 a {
	font-weight: bold;
	font-style: italic;
	text-decoration: none;
	color: #000;
	background-color: #f2b242;
}

.project3 a:hover {
	color: black ;
	background-color: rgb(255, 153, 0) ;
	text-decoration: underline;
}

.project3 .project3Content p {
	font-family:'Times New Roman', Times, serif;
	font-size: large;
	line-height: 1.5em;
	margin-top: 30px;
}

.project3 .horizontalScroll{
	display: flex;
	align-items: center;
	justify-content: center;
}

.project3 .container {
	position: relative;
	width: 100%;
	height: 700px;
}

.project3 .container::before {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	z-index: 99;
	height: 100%;
	width: 150px;
}

.project3 .container::after {
	position: absolute;
	content: "";
	right: 0;
	top: 0;
	z-index: 99;
	height: 100%;
	width: 150px;
}

.project3 .scrollImages {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: left;
	align-items: center;
	position: relative;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

.project3 .child {
	min-width: 100%;
	height: 700px;
	cursor: pointer;
	border: 1px solid rgba(207, 201, 201, .3);
	overflow: hidden;
}

.project3 .scrollImages::-webkit-scrollbar {
	-webkit-appearance: none;
}

.project3 .childImg {
	width: 100%;
	height: 700px;
}

.project3 .icon {
	color: #0b3c5d;
	background-color: #eae3e3;
	font-size: 50px;
	outline: none;
	border: none;
	cursor: pointer;
	margin: 0;
}

.project3 .icon:hover {
	color: #6e5d00;
}

.project3 hr {
	margin-top: 5%;
	width: 70%;
}



h2 {
	text-align: center;
}
